* {
    font-family: "GTWalsheim-Light";
}

p {
    font-family: "GTWalsheim";
    font-size: large;
    flex-grow: 1;
}

.resultsNum {
    color: #00A56A;
    font-family: "GTWalsheim";
    font-size: large;
}

.results {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.filter {
    background-color: #EFDCD9;
    cursor: pointer;
}

.search {
    background-color: #00A56A;
    color: white;
    cursor: pointer;
}

.disabled {
    background-color: #FAFAFA;
    color: black;
    cursor: not-allowed;
}

.myt-button {
    font-family: "GTWalsheim";
    padding: 12px;
    border-radius: 0;
    border: none;
    font-size: medium;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

.green {
    color:#00A56A;
    font-family: "GTWalsheim";
}


.filter-bar {
    width: 100%;
}
.back {
    font-size: small;
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    padding: 0px;
    font-family: "GTWalsheim-Medium";
}

.qtitle {
    font-size: x-large;
    margin-right: 32px;
    margin-top: 16px;
}

.subtitle {
    font-size: medium;
    margin-top: -4px;
}

.explainer {
    font-family: "GTWalsheim-Light";
    font-size: medium;
}

mat-divider {
    margin: 32px 0px 32px 0px;
}

.bottom-sheet {
    margin: 16px 16px 16px 16px;
}

mat-button {
    padding: 2px 2px 2px 2px;
}

/* Table */
.report {
    padding-top: 1px;
    color: darkred;
    text-decoration: underline;
    display: block;
}

.mat-column-select {
    flex: 0 0 5% !important;
    width: 0 0 5% !important;
}

.mat-column-phase {
    flex: 0 0 7% !important;
    width: 0 0 7% !important;
}
.mat-column-protocol_type {
    flex: 0 0 7% !important;
    width: 0 0 7% !important;
}
.mat-column-overall_status {
    flex: 0 0 12% !important;
    width: 0 0 12% !important;
}

.mat-column-interventions {
    flex: 0 0 12% !important;
    width: 0 0 12% !important;
}

.report {
    padding-top: 1px;
    color: darkred;
    text-decoration: underline;
    display: block;
}

.saved {
    background-color: #EEF8FF;
    font-family: "GTWalsheim";
    cursor: pointer;
}

/* Close Button */
.close-button{
  float: right;
  top:-0px;
  right:-0px;
  background-color: #EFDCD9;
  font-family: "GTWalsheim";
}

.close-button {
    margin-bottom: -48px;
}

.content {
    /* padding: 16px; */
    margin: 16px;
}

.loader {
    margin-top: 32px;
    width: 100%;
}

.myt-button.mobile {
    width: 100%;
}