.explainer {
    background-color: white;
    padding: 6px 36px 36px 36px;
    max-width: 1200px;
}

h1 {
    font-family: "GTWalsheim";
    font-weight: normal;
    margin-bottom: 32px;
}

h2 {
    font-family: "GTWalsheim";
    font-weight: normal;
    font-size: large;
    color: #00A56A;
}

mat-divider {
    margin-top: 12px;
    margin-bottom: 24px;
}