<div class="explainer">
    <h2>Why use Treatment Search?</h2>
    <h1>Our search is built specifically for patients and physicians looking for clinical trials and expanded access programs.</h1>
    <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <app-panel [item]="explainers[0]"></app-panel>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-divider [vertical]="false"></mat-divider>
        <app-panel [item]="explainers[1]"></app-panel>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-divider [vertical]="false"></mat-divider>
        <app-panel [item]="explainers[2]"></app-panel>
    </div>
</div>