<div fxLayout="column" fxFlexFill>
  <mat-toolbar>
  <mat-toolbar-row>
    <img class="myt-green-logo" src="assets/myt-green-logo.original.png">
  </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxFlex>
    <router-outlet></router-outlet>
  </div>


  <mat-toolbar class="footer">
    <mat-toolbar-row class="footer">
      <div class="mx-auto maxw-800px" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <ng-container *ngFor="let item of items; let i = index">
          <div>
            <a *ngIf="item.link_url" [href]="item.link_url" target="_blank">{{
              item.link_text }}</a>
              
              <a *ngIf="item.relative_url" [routerLink]="item.relative_url">{{
                item.link_text }}</a>
              </div>
              <div class="text-white" *ngIf="i < items.length -1">|</div>
            </ng-container>
          </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>