.card {
    padding: 12px;
    padding-top: 4px;
    background-color: white;
    margin-top: 24px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: auto;
    border-radius: 8px;
    cursor: pointer;
}

.title {
    font-family: "GTWalsheim-Medium";
}

app-local-save-checkbox {
    float: right;
    padding-left: 12px;
    margin-top: 16px;
    padding-right: 12px;
    padding-bottom: 12px;
}