<button mat-icon-button class="close-button" [mat-dialog-close]="false">X</button>
<div mat-dialog-content>
    <p class="title">Provide Patient Profile</p>
    <p class="subtitle">{{this.getPhrasing()}}</p>
    <p class="subtitle">Would you like to filter these results further based on your patient's medical profile?</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" class="myt-button primary" cdkFocusInitial>Complete patient profile</button>
    <button mat-button class="myt-button secondary" (click)="close()">See options</button>
</div>