@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette((
    50 : #00A56A,
    100 : #00A56A,
    200 : #00A56A,
    300 : #00A56A,
    400 : #00A56A,
    500 : #00A56A,
    600 : #00A56A,
    700 : #00A56A,
    800 : #00A56A,
    900 : #00A56A,
    A100 : #00A56A,
    A200 : #00A56A,
    A400 : #00A56A,
    A700 : #00A56A,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )));
$my-app-accent:  mat-palette((
    50 : #00A56A,
    100 : #00A56A,
    200 : #00A56A,
    300 : #00A56A,
    400 : #00A56A,
    500 : #00A56A,
    600 : #00A56A,
    700 : #00A56A,
    800 : #00A56A,
    900 : #00A56A,
    A100 : #00A56A,
    A200 : #00A56A,
    A400 : #00A56A,
    A700 : #00A56A,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )), 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

.snackbar {
    margin-left: auto !important; // center align from left
    margin-right: auto !important; // center align from right
    margin-bottom: 1rem !important; 
    padding: 10px !important; // spacing between the text and boundary
    background-color: #3A3B3C !important;
    color: white !important;
    font-family: "GTWalsheim-Medium" !important;

    .mat-button-wrapper {
        color: #00A56A !important; // action text color
        font-family: "GTWalsheim-Medium" !important;
    }
}
.mat-simple-snackbar {
    font-family: "GTWalsheim-Light" !important;
}

// Table 
mat-header-row {
    max-height: 10px !important;
}

mat-header-cell {
    background-color: #484349 !important;
    color: white !important;
    font-size: small !important;
    font-family: "GTWalsheim" !important;
}
mat-table {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

mat-cell {
    font-size: 14px !important;
    font-family: "GTWalsheim-Light";
}

.mat-row:nth-child(2n+1){
  background-color: #FAFAFA !important;
}
.mat-row:not(:nth-child(2n+1)){
  background-color:#ffffff !important;
}

.clickable {
    cursor: pointer !important;
}

mat-option {
    font-family: "GTWalsheim-Light" !important;
    font-size: medium !important;
}

mat-form-field {
    font-family: "GTWalsheim-Light" !important;
    margin-right: 1em !important;
}