.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  font-family: "GTWalsheim-Light";
  font-size: medium;
}

.header {
  font-family: "GTWalsheim";
  color: #00A56A;
  font-size: large;
  margin-bottom: 5px;
}

.title {
  /* width: 100%; */
  font-family: "GTWalsheim";
  font-size: x-large;
  padding: 24px;
  margin-top: 8px;
  margin-left: -14px;
  margin-right: -14px;
  background-color: #30343F;
  color: white;
}

.report {
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: darkred;
    color: white;
}


.index {
  font-family: "GTWalsheim"
}

.spacer {
  height: 10px;
  background-color: #FAFAFA;
  margin-left: -24px;
  margin-right: -24px;
}

a {
    text-decoration: underline;
    cursor: pointer;
    font-size: medium;
}

.incorrect {
  text-decoration: underline;
  color: darkred;
}

.content {
    padding: 16px;
}

.bigContainer {
  width: 100%;
  height: 100%;
}

.commentCard {
  width: 500px;
  height: 300px;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}  .commentContent {
  font: 100 1rem GT-Walsheim-Bold;
    letter-spacing: normal;
    color: black;
    padding: 5px;
    justify-content: space-around;
  }
  mat-carousel-slide{
    width: 300px;
    height: 300px;
  }
  .personImg {
    width: 80px !important;
  }
  .comment {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
  }
  .likeButton {
    background-color: #00A56A;
    color: white;
    margin: 5px;
  }
  .addButton {
    background-color: #484349;
    color: white;
    margin: 5px;

  }
  .deleteButton {
    background-color: rgb(155, 7, 7);
    color: white;
    margin: 5px;


  }