<div class="content">
    <a (click)="goBack()"><b>
            <</b> Previous Page</a> <div class="title">{{this.trialDetails?.title}}</div>
<div class="report" *ngIf="checkIfIntAndOverZero(this.trialDetails.reports_as_closed)"><span>Note:
        {{this.trialDetails.protocol_type}} was reported as closed by {{this.trialDetails.reports_as_closed}}
        myTomorrows user(s)</span></div>
<div>
    <p class="header">Overview</p>
    <div class="column">
        <p><span class="index">Trial ID </span>{{this.trialDetails.id}}</p>
        <p><span class="index">Study Type </span>{{this.trialDetails.protocol_type}}</p>
        <p><span class="index">Phase </span>{{this.trialDetails.phase}}</p>
    </div>
    <div class="column">
        <p><span class="index">Overall Status </span>{{this.trialDetails.overall_status}} <a
                (click)="openDialog()"><span class="incorrect">Incorrect?</span></a></p>
        <p><span class="index">Start Date </span>{{this.trialDetails.start_date}}</p>
        <p><span class="index">End Date (est.) </span>{{this.trialDetails.end_date}}</p>
    </div>
    <p><span class="index">Conditions</span></p>
    <p>{{this.getConditions()}}</p>
    <p><span class="index">Interventions</span></p>
    <p>{{this.getInterventions()}}</p>
</div>
<div class="spacer"></div>
<div>
    <p class="header">Description</p>
    <p>{{this.trialDetails.brief_summary}}</p>
</div>
<div class="spacer"></div>
<div>
    <p class="header">Eligibility Criteria</p>
    <p><span class="index">Inclusion Age: </span>Patients aged between {{this.trialDetails.minimum_age}} and
        {{this.trialDetails.maximum_age}} years old</p>
    <p><span class="index">Inclusion Sex: </span>{{this.trialDetails.gender}} patients allowed</p>
    <p><span class="index">Inclusion:</span></p>
    <ul>
        <li *ngFor="let c of getCriteria('inclusion', this.trialDetails.eligibility)">{{c}}</li>
    </ul>
    <p><span class="index">Exclusion:</span></p>
    <ul>
        <li *ngFor="let c of getCriteria('exclusion', this.trialDetails.eligibility)">{{c}}</li>
    </ul>
</div>
<div class="spacer"></div>
<div>
    <p class="header">Trial Sites</p>
    <app-search-sites-table *ngIf="this.trialDetails.locatedAt.length > 0" [sitesList]="this.trialDetails.locatedAt">
    </app-search-sites-table>
    <p *ngIf="this.trialDetails.locatedAt.length === 0">No sites found for this {{ this.trialDetails.protocol_type}}.
    </p>
</div>
<div class="spacer"></div>
<div>
    <p class="header">Additional Information</p>
    <app-registry-table [references]="this.trialDetails.references"></app-registry-table>
</div>
    
        <div fxLayout="row"  fxLayoutAlign="space-between center" class="headerContainer">
            <p class="header">Comment Section</p>
            <button *ngIf="hcpId" mat-button class="myt-button" (click)="configureComment()">add Comment</button>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between flex-start">

<div style="max-width:720px;">
        <div *ngFor="let item of comments; let i = index" class="comment" fxLayout="column"
            fxLayoutAlign="flex-start flex-start">
            <div style="min-width: 700px;max-width: 700px; position:relative" fxLayout="row"
                fxLayoutAlign="flex-start flex-start">
                <img class="personImg" src="assets/person.png">
                <div fxLayout="column" style="margin-left: 20px; min-height:65px"
                    fxLayoutAlign="space-between flex-start">

                    <div fxLayout="row" fxLayoutAlign="flex-start flex-end">
                        <div class="name">{{item.node?.fullName}}</div>
                        <div class="time">2 hours ago</div>
                    </div>

                    <div class="commentContent">{{item.node?.content}}</div>
                    <div fxLayout="row" fxLayoutAlign="flex-start center">
                        <div *ngIf="item.node?.replyNumber?.low > 0" class="replies cursor-pointer"
                            (click)="toggleReplies(item.node?.id,i)">
                            {{currentShowingIndex != i ? 'View replies ↓':'Hide replies ↑' }}


                        </div>
                        <div *ngIf="item.node?.replyNumber?.low == 0" class="replies">no replies</div>
                        <div *ngIf="currentShowingIndex == i || item.node?.replyNumber?.low == 0"> <img *ngIf="hcpId"
                                class="cursor-pointer icon" (click)="addReply(item.node?.id,i)" src="assets/comment.png"
                                alt=""></div>
                    </div>
                </div>
                <div (click)="likeComment(item,i)" style="position: absolute;bottom:0;right:0">
                    {{item.node?.likeNumber?.low}}
                    <img *ngIf="liked_comments_ids.indexOf(item.node?.id) == -1" class="iconHeart cursor-pointer"
                        src="assets/heart.png">
                    <img *ngIf="liked_comments_ids.indexOf(item.node?.id) != -1" class="iconHeart cursor-pointer"
                        src="assets/fill-heart.png">
                </div>
                <div *ngIf="my_comments_list.indexOf(item.node) != -1" fxLayout="row" fxLayoutAlign="flex-start center"
                    class="top-right">
                    <div (click)="configureComment(item,i)" class=" cursor-pointer">
                        <img class="icon" src="assets/edit.svg" alt="">
                    </div>
                    <div (click)="deleteComment(item,i)" class=" cursor-pointer">
                        <img class="icon" src="assets/trash.svg" alt="">
                    </div>
                </div>



            </div>
            <div *ngIf="currentShowingIndex == i" class="repliesContainer" fxLayout="column"
                fxLayoutAlign="flex-start center">

                <div *ngFor="let reply of currentReplies[i]; let ind = index" class="reply"
                    style="min-width: 500px;position: relative;" fxLayout="row" fxLayoutAlign="flex-start flex-start">
                    <img class="replyImg" src="assets/person.png">
                    <div fxLayout="column" style="margin-left: 20px" fxLayoutAlign="space-between flex-start">

                        <div fxLayout="row" fxLayoutAlign="flex-start flex-end">
                            <div class="name">{{reply.node.fullName}}</div>

                        </div>
                        <div class="commentContent">{{reply.node.content}}</div>
                        <div fxLayout="row" fxLayoutAlign="flex-start center">
                            <div class="time">2 hours ago</div>

                        </div>
                     
                        <div *ngIf="my_comments_list.indexOf(reply.node) != -1" fxLayout="row"
                            fxLayoutAlign="flex-start center" class="top-right">
                            <div (click)="likeComment(reply,i,ind)">
                                {{reply.node?.likeNumber?.low}}
                                <img *ngIf="liked_comments_ids.indexOf(reply.node?.id) == -1"
                                    class="iconHeart cursor-pointer" src="assets/heart.png">
                                <img *ngIf="liked_comments_ids.indexOf(reply.node?.id) != -1"
                                    class="iconHeart cursor-pointer" src="assets/fill-heart.png">
                            </div>
                            <div (click)="configureComment(reply,i,ind,true)" class=" cursor-pointer">
                                <img class="icon" src="assets/edit.svg" alt="">
                            </div>
                            <div (click)="deleteComment(reply,i,true)" class=" cursor-pointer">
                                <img class="icon" src="assets/trash.svg" alt="">
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>

    </div>
    <div fxHide.lt-md fxShow class="suggestionsContainer">

    </div>
</div>
</div>